<div class="">
  <div class="import-container">
    <p class="float-left people_number"><%= Person.count %> People</p>
    <div class="people-import">
      <%= form_tag import_people_path, id: 'people-upload', multipart: true do %>
        <p class="hidden-md-down float-left">Import a file</p>
         <label class="file">
          <%= file_field_tag :file, id: "choose-file" %>
        </label>
          <input type="submit" name="commit" value="Import" data-disable-with="Import file" class="btn btn-success">
        </input>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="person-list">
      <div id="person"><%= render 'people' %></div>
    </div>
  </div>
</div>
