// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .wistia{
    width: 60%;
    margin:0 auto;
    .people-import {
      float: right;
      margin: 75px 0 35px 0;
    .btn-secondary {
      color: #292b2c;
      background-color: #fff;
      border-color: #ccc;
      width: 450px;
      border-radius: 5px 0px 0px 5px;
      padding: 8px
    }
    .btn-info {
      border-radius: 0px 5px 5px 0px;
      border-color: #ccc;
      width:110px;
      border-width: 1.5px;
      margin: 0 0 0 -6px;
      padding: 10px;
      }
    }
    .current {
      color: #5fbbff;
      font-weight:bold;
    }
    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #e6e7e8;
      color:#a7a9ac;
      font-weight: normal;
    }
    .table th, .table td {
      border-top: 1px solid #e6e7e8;
      font-size: 15px;
      font-weight: normal;
      color:#363945;
    }
  }
}
