// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .wistia{
    width: 60%;
    margin:0 auto;
    .import-container {
      margin: 75px 0 35px 0;
      height: 45px;
      .people_number {
        font-size: 26px;
        color: #363945;
        line-height: 45px;
        height: 45px;
      }
    }
    .people-import {
      float: right;
      p {
        margin-right: 20px;
        height: 45px;
        line-height: 45px;
        color: #a7a9ac;
      }
      .btn-secondary {
        height: 45px;
        font-size: 13px;
        color: #a7a9ac;
        border-color: #ccc;
        width: 320px;
        border-radius: 4px;
        padding: 8px
      }
      .btn-info {
        height: 45px;
        width:110px;
        border-width: 1.5px;
        margin: 0 0 0 -6px;
        padding: 10px;
        font-size: 15px;
        border-radius: 4px;
        background-color: #54bbff;
      }
    }
    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #e6e7e8;
      color:#a7a9ac;
      font-weight: normal;
    }
    .table thead th a {
      color:#a7a9ac;
      &.current {
        color: #54bbff;
        font-weight:bold;
        &.desc::after {
          background-image: image-url('arrow.png');
          background-size: 12px 12px;
          display: inline-block;
          width: 12px;
          height: 12px;
          content:"";
          margin-left: 5px;
        }
      }
    }
    .table th, .table td {
      border-top: 1px solid #e6e7e8;
      font-size: 15px;
      font-weight: normal;
      color:#363945;
      height: 50px;
    }
    .table {
      td {
        vertical-align: middle;
        &.pet-td {
          img {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
    .pagination {
      span, em, a {
        margin-right: 0.5rem;
      }
    }
  }
}
