// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

  .wistia{
    margin:0 auto;
    .import-container {
      margin: 75px 0 35px 0;
      height: 45px;
      .people_number {
        font-size: 26px;
        color: #363945;
        line-height: 45px;
        height: 45px;
      }
    }
    .people-import {
      float: right;

      p {
        margin-right: 20px;
        height: 45px;
        line-height: 45px;
        color: #a7a9ac;
      }
          /* The actual hack: */
          /* Label container: */
          .file {
            display: inline-block;
            padding: 0 0 0 0.5em;
            cursor: pointer;
            position: relative;

          }

          /* The pseudo input field: */
          .file::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;

            /* Bootstrap appearance: */
            background-color: #fff;
            border: .075rem solid #ddd;
            border-radius: .25rem;
            -webkit-box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
            box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
          }

          /* The pseudo button: */
          .file::after {
            content: "Browse";
            display: inline-block;

            /* Bootstrap appearance: */
            background-color: #54bbff;
            border: .075rem solid #ddd;
            border-radius: 0 .25rem .25rem 0;
            padding: .5rem 1rem;
            line-height: 1.5;
            color: #fff;
          }

          .file input[type=file] {
            cursor: pointer;
            border: 0 none;
            width: 20em;
          }

          /* -webkit hide the button: */
          .file input[type=file]::-webkit-file-upload-button {
            border: 0;
            padding: 0;
            margin: 0 ;
            width: 0;
            background: transparent;
          }

          /* IE10+ hide the button: */
          .file input[type=file]::-ms-browse {
            padding: 0;
            margin: -1px;
            width: 0;
            border: 0;
            background: transparent;
          }

          .file input[type=file]::-ms-value {
            background: #fff;
            border: 0;
          }

          /* Firefox hide the button: */
          @supports (-moz-appearance:meterbar) {

              /* Hide the overflow: */
              .file {
                overflow: hidden;
              }

              /* Shift right: */
              .file input[type=file] {
                margin-left: -6.3em;
                /* Compensate the width: */
                width: 18.3em;
              }
          }

          /* IE9 hide the button: (https://jeffclayton.wordpress.com/2014/07/22/internet-explorer-css-hacks-collection/) */
          @media screen and (min-width:0\0) and (min-resolution:.001dpcm) {

              /*
                  Increase the width of the pseudo button to fully hide the default button
                  (Note: there's probably a better way of doing this but it works. Overflow hidden
                  causes problems with the drop shadow so could maybe fix that instead.)
              */
              .file::after {
                padding: .5rem 1.1rem;
              }

              /*
                  Shift right and force the background colour:
                  (Note it doesn't seem to want to be transparent so this would need to be theme-able)
              */
              .file input[type=file] {
                background: #fff;
                margin-right: -6.6em;
                /* Compensate the width: */
                width: 18.6em;
              }
          }
          .btn-success {
            margin: -3px 0 0 0px;
            padding: 10px
          }
        }
    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #e6e7e8;
      color:#a7a9ac;
      font-weight: normal;
    }
    .table thead th a {
        text-decoration:none;
        color:#a7a9ac;
      &.current {
        color: #54bbff;
        font-weight:bold;
        &.desc::after {
          background-image: image-url('arrow.png');
          background-size: 12px 12px;
          display: inline-block;
          width: 12px;
          height: 12px;
          content:"";
          margin-left: 5px;
        }
      }
    }
    .table th, .table td {
      border-top: 1px solid #e6e7e8;
      font-size: 15px;
      font-weight: normal;
      color:#363945;
      height: 50px;
    }
    .table {
      td {
        vertical-align: middle;
         &.pet-td {
           span.none{
             color:#a7a9ac;
             font-style:italic;
           }
          img {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
    .pagination {
      span, em, a {
        margin-right: 0.5rem;
        color:#54bbff;
      }
    }
  }
}
